* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*Nav Bar Styling*/

nav {
  height: 80px;
  background: #787878;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #fff;
}

.hero {
  background: #e2e2e2;
}

/*Hero Page Styling*/

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.colum-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.colum-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.colum-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #e2e2e2;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: #fff;
  color: #000;
}

.colum-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  height: 75%;
}

/*Login and Signup Page Styling*/

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(assets/login_assets/loginBG.jpg);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/*Product Card Styling*/

.Best-Seller-Title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-size: 36px;
  text-align: center;
}

.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 6% auto 0;
}

.product-card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: #414852;
  border-radius: 15px;
  transition: all 0.8s ease-in-out;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card-img {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.product-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card-img:hover img {
  transform: scale(1.1);
}

.product-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 174, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .product-card-overlay {
  opacity: 1;
}

.add-to-cart-btn,
.view-detail-btn {
  background-color: #fff;
  columns: #000;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 10px;
}

.add-to-cart-btn:hover,
.view-detail-btn:hover {
  background-color: #3babd7;
  color: #000;
  border: none;
}

.product-card-info {
  padding: 10px;
  text-align: center;
  color: #ddd;
}

.product-card-info h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-card-info .product-card-price {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #3babd7;
}

/*Footer Styling*/

footer {
  background-color: #787878;
  padding: 4rem 0 2rem 0;
}

.footer-container {
  width: 80%;
  height: 40vh;
  background-color: #787878;
  color: #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #000;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading h3 {
  color: #000;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: #fff;
}

.footer-newsletter h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: #b1b1b1;
}

#footer-newsletter-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #000;
  outline: none;
  border: none;
  color: #e2e2e2;
  font-size: 1rem;
}

#footer-newsletter-btn:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

/*Media Styling*/

@media screen and (max-width: 986px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 875px) {
  .footer-container {
    height: 50vh;
  }

  .footer-3 {
    display: none;
  }

  .footer-newsletter {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 850px) {
  .footer-newsletter {
    margin-top: 2rem;
  }
}
